<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
<!--    遍历过程中，使用索引-->
    <ul>
        <li v-for="(item, index) in names">{{ item + index }}</li>
    </ul>
<!--    遍历对象，如果只获取一个值，则获取的是value；获取两个值(value, key)-->
    <ul>
        <li v-for="(value, key, index) in info">{{ key }} - {{ value }}</li>
    </ul>
</div>
<script src="../js/vue.js"></script>
<script>
  const app = new Vue({
    el: '#app',
    data: {
      info: {
        name: 'why',
        age: '18',
        height: 1.88
      },
      names: ['why', 'kobe'],
      message: '你好啊'
    }
  })
</script>
</body>
</html>